*{
  color:white;
  line-height: 1.5;
}
body{

  height: 100%;
  position: relative;
  background-image: url("../Resources/background.jpg");
  background-repeat: round;
  background-attachment: fixed;
  margin:0;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.5fr 0.2fr;
  grid-template-areas: "main-header" "main-header" "main-header" "location" "twitter" "mail" "form" "form" "form"  "footer" "footer" "footer";

  height:100vh;
  width:100vw;
}

.main-grid_item{
  padding: 20px;
}

.header-grid{
  grid-area: header-grid;
  display: grid;

  position:fixed;
  width: 100%;

  grid-template-columns: 0.2fr 0.8fr 0.2fr;;
  grid-template-areas: "wipLogo mainNav rrssNav";
  align-items: center;
  justify-content: center;
  padding: 15px 0 15px 50px;


  background-color: rgb(0, 0, 0,0.8);
  font-size: 1.2rem;
  color:white;
}
.wipLogo{
  grid-area: wipLogo;
}
.mainNav{
  grid-area: mainNav;
  justify-self: center;
}
.rrssNav{
  grid-area: rrssNav;
  justify-self: end;
  padding-right: 100px;
}
.header-grid_item li{
    display: inline;
    padding: 0px 15px 0px 15px;
}
.header-grid a:hover{
  color: #00B63E;
}
#contactLink{
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-position: under;
}


.location{
  grid-area: location;
  padding-top: 50px;
}
.twitter{
  grid-area: twitter;
    padding-top: 50px;
}
.mail{
  grid-area: mail;
    padding-top: 50px;
}

footer{

  grid-area: footer;

  background-color: rgb(0, 0, 0,0.8);
  font-size: 1rem;
  color:white;
  text-align: center;
  padding: 50px;
}
